body{
    margin:0px;
    padding: 10px;  
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(218, 217, 217);
    margin: 0px -10px 10px ;
    font-size: 20px;
    font-weight: bold;
}
.logo{
    height: 80px;
    width: 80px;
    margin-left: 20px;
}
img{
    height: 100%;
    margin-right: 20px;
}
.navitems>ul{
    margin-top: 5%;
    display: flex;
}
.navitems>ul>li{
    padding: 10px 15px;
    list-style: none;
    cursor: pointer;
}
.navitems>ul>li:hover{
    color:rgb(181, 47, 47); ;
}
#banner_img{
    height: 480px;
}
.searchBar{
    margin-bottom: 20px;
    text-align: right;
}
.mainbody{
    width: 95%;
    margin: auto;
}
.banner{
    margin-bottom: 20px;
}
.searchBar button{
    border:none;
    border-radius: 5px;
    background-color: rgb(181, 47, 47);
    padding: 5px;
    color: white;
    margin: 2px;
    font-size: smaller;
}
.searchBar input{
    border:2px solid rgb(218, 217, 217);;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    font-size: smaller;
    width: 250px;
}
.restroCard{
    display: block;
    padding: 10px;
    font-size: smaller;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
}
.restroCard:hover{
    scale: 1.05;
}
.thumbnail{
    height: 60%;
    margin-bottom: 5px;
}
.thumbnail>img{
    width: 100%;
}
.restroDetails{
    display: block;
}
.about_restro, .feat_restro{
    display: flex;
    justify-content: space-between;
}
.restroCard button{
    width: 100%;
    font-size: smaller;
    color: white;
    border:none;
    border-radius: 5px;
    background-color: rgb(181, 47, 47);
    padding: 5px;
}
.rating_Del{
    display: flex;
    justify-content: space-between;
}
.restroContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 40px;
}
button:hover{
    background-color: rgb(243, 61, 61);
}
.footer{
    background-color: rgb(46, 43, 43);
    font-size: 20px;
    color: white;
    padding: 20px;
    margin: -10px;
    display: flex;
    justify-content: space-evenly;
}
.footer li{
    list-style: none;
}
.subscription, .copyrights{
    display: flex;
    flex-direction: column;
    gap: 10px;
}





